<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqr.springboot.dao.UserMapper">
    <select id="selectUser" resultType="com.xqr.springboot.po.User" parameterType="String">
        select *
        from tb_user
        where userName = #{userName}
    </select>

    <select id="selectbyid" resultType="com.xqr.springboot.po.User" parameterType="int">
        select *
        from tb_user
        where id = #{userId}
    </select>

    <insert id="addUser">
        insert into
            tb_user(userName,userPwd)
        values
            (#{userName},#{userPwd})
    </insert>
    <update id="updateUser">
        update tb_user set userName=#{userName},userpwd=#{userPwd} where id=#{id}
    </update>

    <delete id="delectUser">
        delete from tb_user where id=#{id}
    </delete>
    <!--条件查询-->
    <select id="queryUser" resultType="com.xqr.springboot.po.User" parameterType="com.xqr.springboot.query.UserQuery">
     select * from tb_user
    <where>
    <if test="null!=userName and ''!=userName">
        and userName like concat('%',#{userName},'%')
    </if>
    </where>
    </select>
</mapper>